<form action='#' class='form-horizontal'>
    <div class='modal-body'>
        <textarea name="enter-message" class="form-control mb-3" rows="3" cols="1"
            placeholder="Enter your message..."></textarea>
        <div class="d-flex align-items-center">
            <button type="button" class="btn btn-primary"> Send </button>
        </div>
    </div>
</form>

<!-- /share your thoughts -->

{{yield}}