<div class='card card-body'>
  <div
    class='media align-items-center align-items-lg-start flex-column flex-lg-row'
  >
    <a
      href='#'
      class='btn btn-outline-teal btn-icon border-2 rounded-pill mr-lg-3 mb-3 mb-lg-0'
    >
      <i class='icon-question7'></i>
    </a>

    <div class='media-body text-center text-lg-left'>
      <h6 class='media-title font-weight-semibold'>{{@message}}</h6>
    </div>
  </div>
</div>
{{yield}}