{{page-title 'Edit'}}
{{page-header heading='Users - Edit'}}
<!-- Centered forms -->
<UserInfo @title="Edit User">
<Form>
{{users/user-form user=@model}}
</Form>
<Button @button="Submit"></Button>
</UserInfo>
<!-- /Centered forms -->