{{page-title 'Users'}}
{{page-header heading='Users'}}
<!-- Content area -->
<div class='content pt-0'>
  {{user-table
    title='All Users'
    users=@model.data
    route='users.index'
    pagination=@model.meta.pagination
  }}
</div>
<!-- Content area -->