{{page-title 'Todos'}}
{{page-header heading='Todos'}}
<PageContent>
  <div class='row'>
    {{#each @model.data as |todo|}}
      <div class='col-lg-6'>
        {{todos todo=todo}}
      </div>
    {{/each}}
  </div>
</PageContent>