{{page-title "Index"}}

							<!-- Support ticket widget -->
                            <div class="row mt-5 justify-content-center">
                                <div class="col-6">
							
                            <div class="card">
								<div class="card-body">
									<div class="d-flex flex-wrap justify-content-between mb-2">
										<span class="font-size-xs line-height-xs text-uppercase text-muted font-weight-semibold">Nov 12, 11:25am</span>
										<span class="font-size-xs line-height-xs text-uppercase text-success font-weight-semibold">Due in 12 days</span>
									</div>
									<h6 class="pt-1">
										Ticket #462 - Application design and development
									</h6>
									<p class="mb-3">The constitutionally inventoried precariously. Pinched a well more moral chose goodness...</p>
								</div>
							</div>

                             <div class="card">
								<div class="card-body">
									<div class="d-flex flex-wrap justify-content-between mb-2">
										<span class="font-size-xs line-height-xs text-uppercase text-muted font-weight-semibold">Nov 12, 11:25am</span>
										<span class="font-size-xs line-height-xs text-uppercase text-success font-weight-semibold">Due in 12 days</span>
									</div>
									<h6 class="pt-1">
										Ticket #462 - Application design and development
									</h6>
									<p class="mb-3">The constitutionally inventoried precariously. Pinched a well more moral chose goodness...</p>
								</div>
							</div>

                             <div class="card">
								<div class="card-body">
									<div class="d-flex flex-wrap justify-content-between mb-2">
										<span class="font-size-xs line-height-xs text-uppercase text-muted font-weight-semibold">Nov 12, 11:25am</span>
										<span class="font-size-xs line-height-xs text-uppercase text-success font-weight-semibold">Due in 12 days</span>
									</div>
									<h6 class="pt-1">
										Ticket #462 - Application design and development
									</h6>
									<p class="mb-3">The constitutionally inventoried precariously. Pinched a well more moral chose goodness...</p>
								</div>
							</div>
                            
                             <div class="card">
								<div class="card-body">
									<div class="d-flex flex-wrap justify-content-between mb-2">
										<span class="font-size-xs line-height-xs text-uppercase text-muted font-weight-semibold">Nov 12, 11:25am</span>
										<span class="font-size-xs line-height-xs text-uppercase text-success font-weight-semibold">Due in 12 days</span>
									</div>
									<h6 class="pt-1">
										Ticket #462 - Application design and development
									</h6>
									<p class="mb-3">The constitutionally inventoried precariously. Pinched a well more moral chose goodness...</p>
								</div>
							</div>
                            </div>
                            </div>
							<!-- /support ticket widget -->
