{{page-title 'Todos'}}
{{page-header heading='Todos'}}
<!-- Content area -->
<div class='content pt-0'>

  <!-- Todos -->
  <div class='row'>
    {{user-todos todos=model}}
  </div>
  <!-- /Todos -->

</div>
<!-- Content area -->