{{page-title 'Todos'}}
{{page-header heading='Todos'}}
{{#page-content}}
  <div class='row'>
    {{#each @model.data as |todo|}}
      <div class='col-lg-6'>
        {{todos todo=todo}}
      </div>
    {{/each}}
  </div>
{{/page-content}}