{{page-title "Posts"}}
<UserInfo>
	<Form>
		<legend class="text-uppercase font-size-sm font-weight-bold border-bottom">Create Posts</legend>


		<label class="col-form-label col-lg-2">Text input</label>
		<div class="col-lg-10 mb-3">
			<input type="text" class="form-control" placeholder="Default input">
		</div>


		<label class="col-form-label col-lg-2">Textarea</label>
		<div class="col-lg-10">
			<textarea rows="3" cols="3" class="form-control" placeholder="Default textarea"></textarea>
		</div>
	</Form>

	<div class="text-right">
		<button type="submit" class="btn btn-primary">Submit <i class="icon-paperplane ml-2"></i></button>
	</div>
</UserInfo>
{{outlet}}