{{page-title 'Posts'}}
{{page-header heading='Posts'}}
<!-- Content area -->
<div class='content pt-0'>

  <!-- Blog posts -->
  <div class='row'>
    {{user-posts posts=model}}
  </div>
  <!-- Blog posts -->

</div>
<!-- Content area -->