{{page-title 'Posts'}}
{{page-header heading='Posts'}}
{{#page-content}}
  <div class='row'>
    {{#each @model.data as |post|}}
      <div class='col-lg-6'>
        {{posts post=post}}
      </div>
    {{/each}}
  </div>
  {{pagination
    maxPagesInList='10'
    route='posts.index'
    recordCount=@model.meta.pagination.total
    pageSize=@model.meta.pagination.limit
    pageNumber=@model.meta.pagination.page
  }}
{{/page-content}}