{{page-title 'EmberDemo'}}

<!-- Main navbar -->

<Header/>
<!-- /main navbar -->

<!-- Page content -->
<div class='page-content'>
  <!-- Main sidebar -->
  
  <Sidebar/>
  <!-- /main sidebar -->
  <!-- Main content -->
  <div class='content-wrapper'>
    <!-- Inner content -->
    <div class='content-inner'>
      {{outlet}}

      <!-- Footer -->
    
      <Footer/>
      <!-- /footer -->
    </div>
    <!-- Inner content -->
  </div>
  <!-- Main content -->
</div>
<!-- /page content -->