{{page-title 'EmberDemo'}}
<!-- Main navbar -->
<Header />
<!-- /Main navbar -->

<!-- Page content -->
<div class='page-content'>

  <!-- Main sidebar -->
  <Sidebar />
  <!-- /Main sidebar -->

  <!-- Main content -->
  <div class='content-wrapper'>

    <!-- Inner content -->
    <div class='content-inner'>
      {{outlet}}
      <!-- Footer -->
      <Footer />
      <!-- /Footer -->
    </div>
    <!-- Inner content -->

  </div>
  <!-- Main content -->

</div>
<!-- /page content -->