{{page-title 'Users'}}
<!-- Page header -->
<div class='page-header'>
  <div class='page-header-content header-elements-lg-inline'>
    <div class='page-title d-flex'>
      <h4><i class='icon-arrow-left52 mr-2'></i>
        <span class='font-weight-semibold'>Home</span>
        - Users</h4>
      <a href='#' class='header-elements-toggle text-body d-lg-none'><i
          class='icon-more'
        ></i></a>
    </div>

    <div class='header-elements d-none mb-3 mb-lg-0'>
      <div class='d-flex justify-content-center'>
        <a href='#' class='btn btn-link btn-float text-body'><i
            class='icon-bars-alt'
          ></i><span>Statistics</span></a>
        <a href='#' class='btn btn-link btn-float text-body'><i
            class='icon-calculator'
          ></i>
          <span>Invoices</span></a>
        <a href='#' class='btn btn-link btn-float text-body'><i
            class='icon-calendar5'
          ></i>
          <span>Schedule</span></a>
      </div>
    </div>
  </div>
</div>
<!-- /page header -->



				<!-- Content area -->
				<div class="content pt-0">

					<!-- Basic responsive configuration -->
					<div class="card">
						<div class="card-header">
							<h5 class="card-title">All Users</h5>
						</div>

						<table class="table datatable-responsive">
							<thead>
								<tr>
									<th>User Name</th>
									<th>Email</th>
									<th>Gender</th>
									<th>Status</th>
									<th class="text-center">Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Marth</td>
									<td>user1@gmail.com</td>
									<td>Male</td>
									<td><span class="badge badge-success">Active</span></td>
									<td class="text-center">
										<div class="list-icons">
											<div class="dropdown">
												<a href="#" class="list-icons-item" data-toggle="dropdown">
													<i class="icon-menu9"></i>
												</a>

												<div class="dropdown-menu dropdown-menu-right">
                          <a href="#" class="dropdown-item">View </a>
											    <a href="#" class="dropdown-item">Edit </a>
													<a href="#" class="dropdown-item"> Delete </a>
												</div>
											</div>
										</div>
									</td>
								</tr>

								<tr>
									<td>Jackelyn</td>
								  <td>user1@gmail.com</td>
									<td>Male</td>
									<td><span class="badge badge-secondary">Inactive</span></td>
									<td class="text-center">
										<div class="list-icons">
											<div class="dropdown">
												<a href="#" class="list-icons-item" data-toggle="dropdown">
													<i class="icon-menu9"></i>
												</a>

												<div class="dropdown-menu dropdown-menu-right">
                          <a href="#" class="dropdown-item">View </a>
													<a href="#" class="dropdown-item">Edit </a>
													<a href="#" class="dropdown-item">Delete </a>
												</div>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td>Aura</td>
									<td>user1@gmail.com</td>
									<td>Male</td>
									<td><span class="badge badge-danger">Suspended</span></td>
									<td class="text-center">
										<div class="list-icons">
											<div class="dropdown">
												<a href="#" class="list-icons-item" data-toggle="dropdown">
													<i class="icon-menu9"></i>
												</a>

												<div class="dropdown-menu dropdown-menu-right">
                          <a href="#" class="dropdown-item">View </a>
												  <a href="#" class="dropdown-item"> Edit </a>
													<a href="#" class="dropdown-item"> Delete </a>
												</div>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td>Nathalie</td>
								  <td>user1@gmail.com</td>
									<td>Male</td>
									<td><span class="badge badge-info">Pending</span></td>
									<td class="text-center">
										<div class="list-icons">
											<div class="dropdown">
												<a href="#" class="list-icons-item" data-toggle="dropdown">
													<i class="icon-menu9"></i>
												</a>

												<div class="dropdown-menu dropdown-menu-right">
                          <a href="#" class="dropdown-item">View </a>
													<a href="#" class="dropdown-item"> Edit </a>
													<a href="#" class="dropdown-item"> Delete </a>
												</div>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- /basic responsive configuration -->
          </div>

          <!-- Content area -->
{{outlet}}